* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  width: 95%;
  margin: auto;
  background-color: #faf9f8;
}

ul {
  display: flex;
  justify-content: space-around;
}

li,
li > a,
.search {
  min-width: 130px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

svg {
  width: 25px;
  height: auto;
}

#top__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3vh;
  font-size: 0.8rem;
}

/* main menu */

.div__logo {
  display: flex;
  align-items: center;
  padding: 30px;
}

.hmlogo {
  width: 80px;
  margin: auto;
  text-align: center;
}

.center__menu {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

/* Main body */
/* Two columns, sale badge */
#main__body {
  width: 100%;
  display: flex;
}

p.text-women {
  font-weight: 700;
}

p.text-seeall {
  color: red;
}

.left__vertical {
  width: 15%;
  line-height: 2rem;
}

.right__content {
  width: 85%;
}

.sale {
  text-align: center;
  height: 15vh;
  background-color: rgb(192, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
}

/* Product grid */
.category {
  font-size: 2rem;
  padding: 20px 0;
}

.grid__products {
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.grid__products a img {
  max-width: 380px;
  height: 500px;
  object-fit: cover;
}

.grid__products p {
  color: red;
}

.product__description {
  line-height: 1.5rem;
}

.product__price,
.product__colors {
  display: flex;
}

.product__price {
  gap: 20px;
}
