* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  width: 95%;
  margin: auto;
  background-color: #faf9f8;
}

ul {
  display: flex;
  justify-content: space-around;
}

li,
li > a,
.search {
  min-width: 130px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

svg {
  width: 25px;
  height: auto;
}

#top__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3vh;
  font-size: 0.8rem;
}

/* main menu */

.div__logo {
  display: flex;
  align-items: center;
  padding: 30px;
}

.hmlogo {
  width: 80px;
  margin: auto;
  text-align: center;
}

.center__menu {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

/* -----------Payment window---------- */
.shoppingbag {
  text-align: center;
}
.payment__main {
  width: 60%;
  height: 20vh;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.product__box {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 20px;
}

.p1,
.p2 {
  gap: 30px;
}

.p2 {
  background-color: white;
}

.product-pic img {
  width: 100px;
  height: 150px;
  object-fit: cover;
}

.product-detail {
  font-size: 0.8rem;
  align-self: center;
}

.sumbox {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.checkout__box {
  padding: 30px;
  text-align: center;
}

form {
  margin: 20px;
}

input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 10px;
}

button {
  width: 150px;
  height: 30px;
  border-radius: 30px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  border: solid 2px lightgrey;
  cursor: pointer;
}
