* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

header {
  border-bottom: 1px lightgrey solid;
}

.main-container {
  margin-top: 10vh;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  list-style: none;
}

.linxifylogo {
  width: 200px;
}

.login-btn {
  background-color: #0073b1;
  padding: 15px;
  color: white;
}

h1 {
  text-align: center;
  padding: 20px;
}

.bankid {
  text-align: center;
  margin: auto;
  width: 600px;
  height: auto;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.bankid > h3 {
  padding: 1rem;
  border-radius: 10px 10px 0 0;
  background-color: #0073b1;
  color: white;
}

form {
  max-width: 500px;
  padding: 2rem;
  margin: auto;
}

input {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  outline: none;
  font-size: 1.1rem;
  font-weight: 600;
}

.bankid__box {
  position: relative;
  margin-bottom: 1rem;
}

.bankid-icon {
  position: absolute;
  top: 50%;
  right: 0.3rem;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
}

.signin {
  width: 100%;
  border-radius: 30px;
  padding: 0.8rem;
  border: none;
  background-color: #0073b1;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}
